/* COMPLEMENTARY FILE, should be imported into another stylesheet file */

/* Changed close button to be an X */
span.close-browser { font-size: 1.125rem !important; padding-top: 1.2rem !important; }
span.close-browser:before { content: "\e903"; }

/* Color on YouTube and Soundcloud icons */
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span { line-height: .8; }
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span:hover { background: #6D6D6D;  }
#browser .browser-content .browser-content-header .form .music-type-select .icon-youtube { color: red; }
#browser .browser-content .browser-content-header .form .music-type-select .icon-soundcloud { color: orange; }

/* Transparency when not hover */
#browser .browser-content { background-color: rgba(0,0,0,.5); transition: background-color .25s linear; }
#browser .browser-content:hover { background-color: rgba(0,0,0,.7); }
#browser .browser-content .browser-content-main .nano { opacity: .6; transition: opacity .25s linear; }
#browser .browser-content:hover .browser-content-main .nano { opacity: 1; }