/* Imports */
@import url("https://rawgit.com/TickingTime/TickingTimeCSS/master/CSS.css"); /* TickingTime's stylesheet */

/* Inverting video small in a special way due to the way TickingTime's stylesheet implements stuff */
#main-room .left_section {
 	right: initial;
}
#main-room .left_section #main_player {
    float: left;
}
#main-room .left_section #main_player {
    border-radius: 0 1rem 0 0;
}